.section1 {
  width: 100%;
  margin-top: 80px;
}

.section1-headerText {
  background-color: rgba(130, 200, 255, 0.65);
  border: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 15px 32px;
  text-align: center;
  width: 50%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: Trebuchet MS;
}

.section2 {
  width: 100%;
  margin-top: 5em;
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section2-form {
  width: 55em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.table-myvehicle {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80em;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.table-myvehicle td, .table-myvehicle th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-myvehicle tr{background-color: rgb(245,245,245);}

.table-myvehicle th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(100, 170, 255, 0.95);
  color: white;
}

.payDiv {
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}

input[type=checkbox] {
	cursor: pointer;
}

.payDiv-right {
	float: right;
}
.payDiv-right h4{
	font-family: Trebuchet MS;
	color: rgba(0,0,0,0.8);
	font-weight: bold;
}

.pay-button {
	background-color: rgba(250, 100, 100, 1);
	border: none;
	color: rgba(255, 255, 255, 0.92);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	outline: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 0.5s;
}

.pay-button:hover {
	background-color: rgba(250, 60, 60, 1);
}

.sort-btn {
	text-align: center;
}

.sort-btn button {
  margin-right: 3em;
  width: 15em;
  height: 3em;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid rgb(250, 100, 100);
  border-radius: 0px 50px 0px 50px;
  color: rgba(0,0,0,0.8);
  transition: 0.2s;
  font-weight: bold;
  margin-bottom: 3em;
}

.sort-btn button:hover {
  background-color: rgb(250, 100, 100);
  color: rgba(255,255,255,0.9);
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}

#pdrm-btn {
	background-color: rgb(250, 100, 100);
	color: rgba(255,255,255,0.9);
}

#paid-div {
	display: none;
}

.section1 button {
  font-family: Arial;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid rgb(40, 110, 255);
  padding: 8px 15px 10px 15px;
  font-size: 16px;
  outline: none;
  color: rgba(255,255,255,0.9);
  background-color: rgb(40, 110, 255);
  cursor: pointer;
  font-size: 13px;
  position: absolute;
  margin-left: 2em;
  margin-top: 7px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.section1 button:hover{
  background-color: rgb(0, 80, 255);
  border: 2px solid rgb(0, 80, 255);
  color: rgba(255,255,255,0.9);
}

input[type=submit] {
  font-family: Arial;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid rgb(250, 100, 100);
  padding: 8px 15px 10px 15px;
  font-size: 16px;
  outline: none;
  color: rgba(255,255,255,0.9);
  background-color: rgb(250, 100, 100);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
input[type=submit]:hover {
  background-color: rgb(250, 70, 70);
  border: 2px solid rgb(250, 70, 70);
  color: rgba(255,255,255,0.9);
}